extends layout/layout

block vars
    -var page = 'categories';

block content
    include layout/includes/aside-nav
    .content
        .content-inner
            h4.heading-title 
                | Categories
                .btn-group.pull-right
                    a(href="./categories-edit.html").btn.btn-default
                        em.glyphicon.glyphicon-plus 
                        |  Add new
                    a(href="#").btn.btn-default
                        em.glyphicon.glyphicon-upload 
                        |  Import .csv
                    a(href="#").btn.btn-default
                        em.glyphicon.glyphicon-download 
                        |  Export .csv
            hr
            div.alert.alert-md.alert-default Lorem ipsum dolor sit amet.
            .row
                .col-md-12
                    form.form: .row
                        .col-md-4: .form-group
                            label Id
                            input(type="number", name="", placeholder="Id").form-control
                        .col-md-4: .form-group
                            label Name
                            input(name="text", placeholder="Name").form-control
                        .col-md-4: .form-group
                            label Parent category
                            select.form-control
                                option(value="") Category 01
                                option(value="") Category 02
                                option(value="") Category 03
                        .col-md-12: .form-group
                            input(type="button", value="Filter").btn.btn-default
            .row
                .col-md-12
                    table.table.table-striped
                        tHead: tr
                            th Id
                            th Name
                            th Parent category
                            th.text-right Actions
                        tBody
                            mixin category_row(id, title, parent)
                                tr
                                    td: strong ##{id}
                                    td #{title}
                                    td: a(href="#").text-primary #{title} 
                                    td.text-right
                                        .btn-group
                                            a(href="#").text-primary 
                                                em.mdi.mdi-pencil
                                                | Edit
                                            | &nbsp;
                                            | &nbsp;
                                            a(href="#", 
                                                confirm-box, 
                                                data-box-title="Are you sure?", 
                                                data-box-text="This action cannot be undone, double check before continue.").text-primary
                                                em.mdi.mdi-delete
                                                | Delete 
                            +category_row('0001', 'Lorem ipsum dolor.', 'Lorem ipsum.')
                            +category_row('0002', 'Lorem ipsum dolor.', 'Lorem ipsum.')
                            +category_row('0003', 'Lorem ipsum dolor.', 'Lorem ipsum.')
                            +category_row('0004', 'Lorem ipsum dolor.', 'Lorem ipsum.')
                            +category_row('0005', 'Lorem ipsum dolor.', 'Lorem ipsum.')
                            +category_row('0006', 'Lorem ipsum dolor.', 'Lorem ipsum.')
                            +category_row('0007', 'Lorem ipsum dolor.', 'Lorem ipsum.')
                            +category_row('0008', 'Lorem ipsum dolor.', 'Lorem ipsum.')
                            +category_row('0009', 'Lorem ipsum dolor.', 'Lorem ipsum.')
                            +category_row('0010', 'Lorem ipsum dolor.', 'Lorem ipsum.')
                    

                    nav(aria-label='Page navigation')
                        ul.pagination
                            li: a(href='#', aria-label='Previous'): span(aria-hidden='true') &laquo;
                            li: a(href='#') 1
                            li: a(href='#') 2
                            li: a(href='#') 3
                            li: a(href='#') 4
                            li: a(href='#') 5
                            li: a(href='#', aria-label='Next'): span(aria-hidden='true') &raquo;